<div class="panel panel-default panel-primary">
	<div class="panel-heading">
		<div class="panel-title">{{'CHAT' | translate}}</div>
	</div>
	
	<div class="panel-body">
		<div class="row container-chat">
			<div class="col-sm-12" ng-repeat="mensagem in mensagens">
				<strong>{{mensagem.usuario}}:</strong> <pre>{{mensagem.descricao}}</pre>
			</div>
		</div>
	
		<div class="row">
			<hr class="chat-hr" />
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<textarea class="form-control" ng-model="descricao" press-enter="enviarMensagem(descricao)"></textarea>
			</div>
		</div>
	</div>
</div>