<!doctype html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
	
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	
	<script src="lib/dependencies/jquery.min.js"></script>
	<script src="lib/dependencies/angular.min.js"></script>
	<script src="lib/dependencies/angular-translate.min.js"></script>
	<script src="lib/dependencies/tmhDynamicLocale.js"></script>
	<script src="lib/dependencies/angular-currency-mask.js"></script>
	<script src="lib/dependencies/bootstrap.min.js"></script>
	
	<script src="script/App.js"></script>
	<script src="script/service/ApiService.js"></script>
	<script src="script/ctrl/ProdutoCtrl.js"></script>
	
	<title>{{'NOME_APLICACAO' | translate}}</title>
</head>

<body ng-controller="ProdutoCtrl">
	<div class="container">
		<div class="panel-header clearfix">
			<h4 class="pull-left">{{'NOME_APLICACAO' | translate}}</h4>
			
			<div class="btn-group pull-right">
				<a href="" ng-click="mudarLinguagem('pt-br')">
					<img width="32" src="images/pt-BR.png" />
				</a>
				<a href="" ng-click="mudarLinguagem('en')">
					<img width="32" src="images/en.png" />
				</a>
			</div>
		</div>
		
		<div class="alert alert-success" role="alert" ng-if="msgSucesso">
			{{msgSucesso | translate}}
		</div>
		
		<div class="panel panel-default panel-primary">
			<div class="panel-heading panel-heading-btn clearfix">
				<div class="panel-title pull-left">{{'PRODUTOS' | translate}}</div>
				
				<div class="btn-group btn-group-add pull-right">
					<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalProduto">
						<span class="glyphicon glyphicon-plus"></span>
						{{'ADICIONAR_PRODUTO' | translate}}
					</button>
				</div>
			</div>
			
			<div class="panel-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>{{'NOME_PRODUTO' | translate}}</th>
							<th>{{'ESTOQUE_PRODUTO' | translate}}</th>
							<th class="text-center">{{'PRECO_PRODUTO' | translate}}</th>
							<th class="text-center">{{'OPCOES' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="produto in produtos">
							<td>{{produto.codigo}}</td>
							<td>{{produto.nome}}</td>
							<td>{{produto.estoque | number}}</td>
							<td align="right">{{produto.preco | currency}}</td>
							<td align="center">
								<a href="" ng-click="alterarProduto(produto)" data-toggle="modal" data-target="#modalProduto" title="{{'ALTERAR_PRODUTO' | translate}}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a href="" ng-click="excluirProduto(produto)" title="{{'EXCLUIR_PRODUTO' | translate}}">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						
						<tr ng-if="!produtos.length">
							<td colspan="5">{{'NENHUM_REGISTRO' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer panel-primary pull-right clearfix">
				<a href="codigo_fonte/angularjs.zip">{{'DOWNLOAD_CODIGO_FONTE' | translate}}</a>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="modalLabelProduto" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">{{'FECHAR_MODAL' | translate}}</span>
					</button>
					<h4 class="modal-title" id="modalLabelProduto">
						{{produto.codigo ? 'ALTERAR_PRODUTO' : 'ADICIONAR_PRODUTO' | translate}}
					</h4>
				</div>
				<div class="modal-body">
					<form name="produtoForm" class="form">
						<div class="form-group">
							<label>{{'NOME_PRODUTO' | translate}} *</label>
							<input name="nome" type="text" class="form-control" ng-model="produto.nome" ng-required="true" />
						</div>
						
						<div class="form-group">
							<label>{{'ESTOQUE_PRODUTO' | translate}} *</label>
							<input name="estoque" type="number" class="form-control" ng-model="produto.estoque" ng-required="true" />
						</div>
						
						<div class="form-group">
							<label>{{'PRECO_PRODUTO' | translate}} *</label>
							<input name="preco" type="text" class="form-control" ng-model="produto.preco" ng-required="true" currency-mask />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="salvarProduto(produto)" ng-disabled="produtoForm.$invalid">{{'SALVAR_MODAL' | translate}}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelarProduto()">{{'CANCELAR_MODAL' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>